@font-face {
    font-family: NotoSerifCJKtc-Regular;
    src: url(font/NotoSerifCJKtc-Regular.otf);
}

@font-face {
    font-family: Jacques Francois;
    src: url(font/JacquesFrancois-Regular.ttf);
}

h2 {
    color: #333;
    font-size: 28px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
}

p {
    color: #333;
    font-size: 15px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
}

h3 {
    font-size: 21px;
    color: #333;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    margin-bottom: 20px;
}


h4 {
    font-size: 15px;
    color: #7F7F7F;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Times New Roman', NotoSerifCJKtc-Regular, Times, serif;
}

body {
    overflow-x: hidden;
}

/* ----------------------------------------------- */
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 100%;
    max-width: 1200px;
    vertical-align: top;
    margin: -25px 0 0;
}

/* ----------------------------------------------- */

.about {
    margin: 80px 0 96px;
}

.about img {
    vertical-align: top;
}

.about .title {
    max-width: 100px;
    width: 100%;
    margin: 0 auto 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about i {
    max-width: 73px;
    width: 100%;
    border: 0.5px solid #ccc;
    margin: 3px 0 7px;
}

.about h3 {
    font-size: 15px;
    color: #7F7F7F;
    text-align: center;
    font-family: 'Times New Roman', NotoSerifCJKtc-Regular, Times, serif;
    letter-spacing: 2px;
}

.about .txt {
    max-width: 375px;
    width: 100%;
    margin: auto;
    position: relative;
}

.about p {
    line-height: 170%;
    padding: 0 0 64px;
}

.about .vase img {
    position: absolute;
    top: 0;
    left: -370px;
    vertical-align: top;
    z-index: 1;
}

.about .vase::after {
    content: '';
    width: 170px;
    height: 196px;
    background-color: #A07B67;
    position: absolute;
    top: 90px;
    left: -335px;
}

.about .white-flower {
    position: absolute;
    bottom: 380px;
    right: -370px;
}

.about .hang {
    position: absolute;
    bottom: 263px;
    right: -328px;
}

.about .square {
    width: 150px;
    height: 150px;
    border: 1px solid #A07B67;
    position: absolute;
    bottom: 333px;
    right: -300px;
}



.about .sign {
    position: absolute;
    bottom: 40px;
    right: -40px;
}

.about .leaf {
    position: absolute;
    width: 25px;
    top: -80px;
    left: -10px;
    transform: rotate(150deg);
}

.about .tree {
    position: absolute;
    top: 290px;
    right: -60px;
    width: 30px;
    transform: rotate(20deg);
}

.about .fruit {
    position: absolute;
    width: 30px;
    bottom: 55px;
    left: -45px;
    transform: rotate(35deg);
}

/* ----------------------------------------------- */

.team .bg {
    width: 100%;
}

.team img {
    vertical-align: top;
}

.team .title {
    width: 136px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team i {
    width: 136px;
    border: 0.5px solid #ccc;
    margin: 5px 0 10px;
}


.team .wrap {
    width: 100%;
    background-color: #FBF7EF;
}

.team .item {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 1px;
}

.team .card {
    display: flex;
    flex-wrap: wrap;
    margin: -100px 0 200px;
    align-items: end;
}


.team .card:nth-of-type(2n) {
    flex-direction: row-reverse;
    text-align: right;
}

.team .pic {
    width: 285px;
    z-index: 1;
}


.item .txt {
    max-width: 565px;
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -35px -50px;
    position: relative;
}

.item .deco-c {
    position: absolute;
    top: -80px;
    right: -80px;
}

.item li {
    line-height: 22.5px;
    font-size: 15px;
    font-family: 'Times New Roman', NotoSerifCJKtc-Regular, Times, serif;
}

.item .deco-k {
    position: absolute;
    top: -80px;
    left: -80px;
}



/* ----------------------------------------------- */

.shop {
    margin: 96px auto;
    width: 100%;
}

.shop .title {
    width: 80px;
    margin: 64px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.shop i {
    width: 70px;
    border: 0.5px solid #ccc;
    margin: 10px 0;
}

.shop h3 {
    margin-bottom: 45px;
}

.shop .wrap {
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.shop li {
    font-size: 15px;
    padding-bottom: 5px;
}

.shop .media {
    margin-top: 15px;
    display: flex;
}

.shop span {
    padding-right: 7px;
}

.shop .pic iframe {
    width: 630px;
    height: 360px;
    border-radius: 0 80px 0 0;
}

/* ----------------------------------------------- */

.service {
    width: 100%;
}

.service h2 {
    margin: auto;
    text-align: center;
    color: #eee;
}

.service .wrap {
    background: url(img/about/service.png);
    padding: 60px 0;
    background-size: cover;
}

.service .item {
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service .card {
    width: 230px;
    margin: 16px;
    color: #eee;
}

.service h3 {
    margin: 25px;
    font-size: 35px;
    color: #eee;
    text-align: center;
}

.service h3::after {
    content: '';
    width: 1px;
    height: 55px;
    background: #fff;
    margin: 20px auto 0;
    display: block;
}

.service h4 {
    font-size: 20px;
    margin: 15px;
    color: #eee;
    letter-spacing: 0px;
}

.service p {
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    text-align: justify;
}

/* --------------RWD----------------------------- */

@media screen and (max-width: 768px) {

    .vase,
    .square,
    .white-flower,
    .hang,
    .leaf,
    .tree,
    .fruit,
    .deco-c,
    .deco-k {
        display: none;
    }

    .banner img {
        margin: -8px;
    }

    .banner .chang {
        display: none;
    }

    .team .item {
        max-width: 600px;
        width: 100%;
        margin: auto;
        padding: 1px;
    }

    .team .card {
        display: flex;
        flex-wrap: wrap;
        margin: -75px 0 200px;
        align-items: end;
    }

    .team .pic {
        width: 230px;
    }

    .team .pic img {
        width: 100%;
    }


    .item .txt {
        max-width: 430px;
    }

    .shop .wrap {
        width: 90%;
    }

    .shop .pic iframe {
        width: 430px;
        height: 300px;
        border-radius: 0 80px 0 0;
    }

    .service .item {
        max-width: 400px;
    }

    .service h3::after {
        display: none;
    }

}

@media screen and (max-width: 414px) {

    .team .item {
        width: 85%;
        margin: auto;
        padding: 1px;
    }

    .team .card {
        margin: 0px 0 70px;
    }

    .team .pic {
        margin: auto;
    }

    .team .pic img {
        width: 100%;
        border-radius: 200px 200px 0 0;
    }

    .item .txt {
        margin: auto;
    }

    .team .card:nth-of-type(2n) {
        text-align: left;
    }

    /* ------------------------------------------------------ */

    .about .sign {
        display: none;
    }

    .about {
        margin: 50px 0;
    }

    .about .title {
        margin: 0 auto 50px;
    }

    .about .txt {
        width: 80%;
    }

    /* ------------------------------------------------------ */

    .shop .item {
        margin: auto;
        padding: 30px 0;
    }

    .shop .item h3 {
        margin-bottom: 30px;
    }

    .shop .pic {
        margin: auto;
    }

    .shop .pic iframe {
        margin: auto;
        width: 350px;
        height: 250px;
        border-radius: 10px;
    }

    .shop .title {
        margin: 30px auto;
    }
}