@font-face {
    font-family: NotoSerifCJKtc-Regular;
    src: url(font/NotoSerifCJKtc-Regular.otf);
}

@font-face {
    font-family: Jacques Francois;
    src: url(font/JacquesFrancois-Regular.ttf);
}

h2 {
    font-size: 28px;
    color: #333;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
}

p {
    font-size: 15px;
    line-height: 1.5;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
    font-style: normal;
}

h3 {
    font-size: 21px;
    color: #333;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    margin-bottom: 20px;
}


h4 {
    font-size: 15px;
    color: #7F7F7F;
    text-align: center;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    letter-spacing: 3px;
}

body {
    overflow-x: hidden;
}

/* ----------------------------------------------- */

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.banner img {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 300px;
    vertical-align: top;
    margin: -25px 0 0;
    object-fit: cover;
}

/* ----------------------------------------------- */

.data {
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
}

.data .title {
    width: 100px;
    margin: 0 auto 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Times New Roman', NotoSerifCJKtc-Regular, Times, serif;
}

.data form {
    position: relative;
}

.leaf img {
    position: absolute;
    top: 0px;
    left: -100px;
    transform: scaleX(-1);
    vertical-align: top;
    width: 30px;
}

.fruit img {
    position: absolute;
    bottom: 30px;
    right: -100px;
    transform: rotate(35deg);
    width: 30px;
}

.data i {
    width: 100px;
    border: 0.5px solid #ccc;
    margin: 3px 0 7px;
}

.data h3 {
    text-align: center;
}

.data .wrap {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.data p {
    margin-bottom: 30px;
}

.info label {
    font-size: 15px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    padding: 7px 13px;
    background-color: #A07B67;
    color: #eee;
    display: inline-block;
    margin: 0 20px 0;
}

.info input {
    margin-bottom: 21px;
    width: 250px;
    height: 27px;
    background-color: #eee;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;

}

.info input:focus {
    outline: none;
}

select {
    margin-bottom: 21px;
    width: 262px;
    height: 29px;
    background-color: #eee;
    border: 0px;
    border-radius: 5px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #666;
}

select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.msg {
    width: 342px;
    height: 130px;
    background-color: #eee;
    border: 0px;
    border-radius: 5px;
    margin: 10px 20px 0;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
}

.updata {
    width: 520px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.updata input {
    font-size: 15px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    background-color: #A07B67;
    color: #eee;
    margin: 0 20px 0;
    border: 0px;
    padding: 4px 23px;
    border-radius: 5px;
    transition: .3s;
}

.updata input:hover {
    background-color: #D8A43F;
    transition: .2s;
}


/* --RWD--------------------------------------------- */
@media screen and (max-width:414px) {

    .leaf,
    .fruit {
        display: none;
    }

    .data {
        width: 80%;
        margin: 50px auto;
    }

    .data .wrap {
        margin: auto;
    }

    .info input {
        width: 200px;
    }

    select {
        margin-bottom: 21px;
        width: 212px;
    }

    .msg {
        width: 295px;
    }
}