@font-face {
    font-family: NotoSerifCJKtc-Regular;
    src: url(font/NotoSerifCJKtc-Regular.otf);
}

@font-face {
    font-family: Jacques Francois;
    src: url(font/JacquesFrancois-Regular.ttf);
}

.header {
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
}

.header .title {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.header .title a {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    font-family: Jacques Francois, NotoSerifCJKtc-Regular;
    transition: .2s;
    margin: 30px;
    padding: 35px 0;
}

.header .logo {
    position: absolute;
}

.header nav a:hover {
    color: #C48710;
    transition: .2s;
}

.header img {
    vertical-align: top;
    width: 100%;
}

.header .sign {
    margin: 0 8px;
}

.header .hb {
    display: none;
}

#menu-switch {
    display: none;
}


.header .nav_bg {
    background-color: #000b;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    display: none;
}

.header .title.open,
.nav_bg.open {
    display: block;
}

/* --------------------------------------- */
.backtotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
}

.nav_bg {
    background-color: #000b;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 9999;
}


@media screen and (max-width: 768px) {
    .header {
        padding: 25px 20px;
        justify-content: space-between;
        z-index: 2;
    }

    .header .logo {
        left: 50%;
        margin: auto;
        transform: translateX(-50%);
        text-align: center;
    }

    .header .logo img {
        width: 65%;
    }



    /* -----漢堡 & 選單----- */
    /* -----選單----- */
    .header .title {
        position: absolute;
        width: 90%;
        margin: 0 5%;
        background-color: #a07b67;
        border-radius: 10px;
        top: 100%;
        left: 0;
        flex-direction: column;
        padding: 1px;
        display: none;
    }

    .header .title a {
        font-size: 18px;
        padding: 10px;
        color: #eee;
        display: block;
        text-align: center;
    }


    .header .title a:hover {
        color: #eee;
    }


    .header .title a:nth-child(4) {
        display: none;
    }


    /* -----漢堡----- */
    .hb {}

    .header .hb {
        display: flex;
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
    }

    .hb span {
        width: 70%;
        height: 2px;
        background-color: #a07b67;
        border-radius: 10px;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .hb span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .hb span:nth-child(2) {
        opacity: 1;
        transition: opacity 0.3s 0.6s;
    }

    .hb span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }


    #menu-switch:checked+.header .hb span:nth-child(1) {
        translate: 0px 0px;
        rotate: 45deg;
        transition: translate 0.3s,
            rotate 0.6s 0.3s;
    }

    #menu-switch:checked+.header .hb span:nth-child(2) {
        display: none;
        transition: opacity 0.3s;
    }

    #menu-switch:checked+.header .hb span:nth-child(3) {
        translate: 0px 0px;
        rotate: -45deg;
        transition: translate 0.3s,
            rotate 0.6s 0.3s;
    }


}


/* ----------------------------------------------- */

.footer {
    width: 100%;
    background-color: #E3DBCD;
}

.footer .wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer .item h3 {
    font-size: 18px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
    margin: 96px 0 64px 0;
}

.footer .item li {
    font-size: 15px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
    margin: 0 0 16px;
}

.footer .contact h3 {
    font-size: 18px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    margin: 96px 0 32px 0;
    color: #333;
}

.footer .map h3 {
    font-size: 18px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    margin: 32px 0 32px 0;
    color: #333;
}

.footer .items li {
    font-size: 15px;
    font-family: NotoSerifCJKtc-Regular, 'Times New Roman', Times, serif;
    color: #333;
    padding: 0 0 8px 0;
}

.footer .icon {
    display: flex;
}

.footer .icon span {
    padding-right: 8px;
}

.footer li a {
    color: #333;
    text-decoration: none;
    transition: .2s;
}

.footer li a:hover {
    color: #C48710;
    transition: .2s;
}



.footer p {
    text-align: center;
    font-size: 8px;
    color: #333;
    padding: 30px;
    font-family: NotoSerifCJKtc-Regular, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
    .footer .item {
        display: none;
    }

    .footer .items {
        width: 100%;
        margin: 0 10%;
    }

    .footer .map {
        margin-bottom: 20px;
    }

    .footer .contact h3 {
        margin: 65px 0 32px 0;
    }
}