@font-face {
    font-family: NotoSerifCJKtc-Regular;
    src: url(font/NotoSerifCJKtc-Regular.otf);
}

@font-face {
    font-family: Jacques Francois;
    src: url(font/JacquesFrancois-Regular.ttf);
}

p {
    font-size: 15px;
    line-height: 1.5;
    font-family: Gowun Batang, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
}

h2 {
    font-size: 28px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
}

h3 {
    font-size: 21px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
}

h4 {
    font-size: 18px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
}

li {
    font-size: 15px;
    line-height: 1.5;
    font-family: Gowun Batang, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
}

a {
    font-size: 15px;
    line-height: 1.5;
    font-family: Gowun Batang, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
    text-decoration: none;
}

/* ----------------------------------------------- */

.product .wrap {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.product .title {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #666;
    margin: 30px 0 75px;
    padding: 10px 0;
}

.product .card {
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product .pic {
    width: 45%;
}

.product .pic img {
    vertical-align: top;
    width: 100%;
}

.product .item {
    width: 45%;
}

.product .item img {
    vertical-align: top;
}

.product .item h3 {
    padding: 0 0 10px;
    border-bottom: 1px solid #aaa;
}

.product .item .cost {
    display: block;
    margin: 25px 0 50px;
}

.product .item .detail {
    margin: 0 0 15px;
}

.product .btn {
    display: flex;
    margin: 25px 0;
}

.product .btn input {
    border-radius: 0;
    background-color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
}

.product .btn input:first-child {
    border-top: 1px solid #333;
    border-right: 0;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
}

.product .btn input:nth-child(2) {
    text-align: center;
    border-top: 1px solid #333;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #333;
    outline: none;
}

.product .btn input:nth-child(3) {
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 0;
    border-bottom: 1px solid #333;
    margin-right: 10px;
}

.product .btn button {
    width: 100px;
    height: 30px;
    border: 0;
    background-color: #A07B67;
    color: #eee;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .2s;
    margin-right: 10px;
    font-family: Jacques Francois, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
}

.product .btn .buy:hover {
    background-color: #C48710;
    transition: .2s;
}


.product .btn .heart img {
    vertical-align: middle;
}

.product .btn .heart {
    margin: auto 0;
}

.product .tag {
    font-size: 0px;
}

.product .tag span {
    font-size: 12px;
    font-family: Gowun Batang, 'Times New Roman', Times, NotoSerifCJKtc-Regular, serif;
    color: #333;
    background-color: #ddd;
    display: inline-block;
    padding: 4px 3px 3px;
    border-radius: 3px;
    margin: 0 10px 55px 0;
}

.product .notice .sub-title {
    display: flex;
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
}

.product .notice .sub-title li {
    padding: 0 10px;
}

.product .sub-title .chang {
    position: relative;
}

.product .sub-title .chang::after {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #A07B67;
}

.product .notice .item {
    width: 100%;
    margin: 20px 0px;
    text-align: justify;
}


.product .notice .item li {
    padding: 8px 0;
}

.product .notice .item li::before {
    content: '•';
    padding-right: 5px;
    color: #A07B67;
}

.product .notice .item:nth-child(3) {
    display: none;
}

/* ----------------------------------------------- */
.other {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

.other .title {
    max-width: 960px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aaa;
    margin: 75px 0 55px;
    padding: 10px 0;
    position: relative;
}

.other .deco img {
    width: 35px;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    right: 70px;
    transform: rotate(-15deg);
}

.other .wrap {
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.other .card {
    width: 320px;
    padding: 0 17px;
    margin: auto;
}

.other .pic {
    overflow: hidden;
}

.other .pic img {
    vertical-align: top;
    transform: scale(1);
    transition: .3s;
}

.other .pic img:hover {
    transform: scale(1.06);
    transition: .3s;
}

.other .txt {
    margin: 10px 0;
}

.other .txt a {
    color: #A07B67;
}

.other .txt a:hover {
    color: #C48710;
}

.other .txt span {
    display: block;
    color: #A07B67;
}

/* --------------------------- */

.other .page {
    margin: 10px auto 55px;
    max-width: 960px;
    width: 100%;
}

.other .item {
    display: flex;
    justify-content: space-between;
}


.front-page .line {
    border: 1px solid #666;
    width: 30px;
    display: inline-block;
    border-radius: 3px;
    translate: -13px 0px;
}

.front-page .slash {
    border: 1px solid #666;
    width: 8px;
    display: inline-block;
    transform: rotate(135deg);
    translate: -9px -1px;
    transform-origin: bottom right;
    border-radius: 3px;
    transition: .3s;
}


.front-page:hover a {
    border: 1px solid #C48710;
    transition: .2s;
}

/* --------------------------- */

.back-page .line {
    border: 1px solid #666;
    width: 30px;
    display: inline-block;
    border-radius: 3px;
    translate: 13px 0px;
}

.back-page .slash {
    border: 1px solid #666;
    width: 8px;
    display: inline-block;
    transform: rotate(-135deg);
    translate: 9px -1px;
    transform-origin: bottom left;
    border-radius: 3px;
    transition: .3s;
}


.back-page:hover a {
    border: 1px solid #C48710;
    transition: .2s;
}

.other .chang {
    display: flex;
    margin: auto;
}

.other .chang i {
    width: 8px;
    border: 3px solid #eee;
    margin: 0 3px;
    border-radius: 10px;
}

.other .chang i.active {
    width: 23px;
    border: 3px solid #C48710;
}

/* ---RWD---------------------------------------------------- */
@media screen and (max-width:768px) {
    .product .title {
        width: 90%;
        margin: 30px auto 75px;
    }

    .product .card {
        width: 90%;
    }

    .other .title {
        width: 90%;
        margin: 50px auto 30px;
    }

    .other .wrap {
        width: 690px;
        overflow: hidden;
        justify-content: center;
    }

    .other .card {
        width: 320px;
        padding: 0 10px;
        margin: auto;

    }

    .other .pic img {
        /* width: 100%; */

    }

    .other .page {
        width: 90%;
    }
}

@media screen and (max-width:414px) {
    .product .title {
        margin: 20px auto 35px;
    }

    .product .pic {
        width: 80%;
        margin: auto;
    }

    .product .item {
        width: 90%;
        margin: 35px auto 0;
    }

    .product .tag span {
        margin: 0 10px 45px 0;
    }

    .other .page {
        display: none;
    }

    .other .wrap {
        width: 370px;
        overflow: hidden;
    }

    .other .card a,
    span {
        font-size: 15px;
    }

    .other .card {
        width: 100px;
        padding: 5px;
        text-align: center;
        margin-bottom: 30px;
    }

    .other .card img {
        height: 130px;
    }
}